#uLogin {
  display: none;
}
.login_social {
  padding: 10px;
  margin: auto;
  vertical-align: middle;
  cursor: pointer;
}
.user_header {
  display: inline-block;
  padding: 5px!important;
}
.user_avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #9cc218;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.user_avatar img {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.user_info .lvl_box {
  display: inline-block;
  width: 30px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.user_info .lvl_box .lvl_count {
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #282828;
  height: 30px;
  border-radius: 5px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  cursor: pointer;
}
.user_info .user_nik {
  display: inline-block;
  padding-bottom: 0;
  font-family: 'Ruslan', arial;
  font-size: 16px;
}
.user_info .user_bar_wrap {
  font-size: 11px;
  line-height: 11px;
}
.user_info .user_bar {
  position: relative;
  display: block;
  width: 104px;
  height: 19px;
  color: #ffffff;
  background: #122b40;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  margin-bottom: 3px;
}
.user_info .user_bar_fill {
  display: inline-block;
  height: 15px;
  position: absolute;
  left: 0;
}
.user_info .user_bar_fill_text {
  display: inline-block;
  text-align: center;
  position: absolute;
  line-height: 14px;
  left: 0;
  width: 100%;
  height: 100%;
}
.user_info .health_bar {
  border-color: #ff4e33;
}
.user_info .fa-icon {
  width: 12px;
  line-height: 11px;
  margin: 3px;
  text-align: center;
}
.user_info .fa-heart {
  color: #ff4e33;
}
.user_info .energy_bar {
  border-color: #9cc218;
}
.user_info .fa-bolt {
  color: #9cc218;
}
.user_info .XP_bar {
  border-color: #22a4f5;
}
.user_info .XP_icon {
  color: #22a4f5;
}
.user_info .fa-star {
  color: #9932cc;
}
.user_info .activism_bar {
  border-color: #9932cc;
}
.user_info .money_box {
  font-family: "Comic Sans MS";
  display: block;
  width: 100px;
  height: 15px;
  font-size: 11px;
  line-height: 11px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0px 4px;
}
.user_info .coin_icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-right-width: 1px;
  border-right-style: solid;
  margin: 1px 3px;
}
.user_info .coin_silver {
  background: #c0c0c0;
  border-right-color: #48d1cc;
}
.user_info .coin_cuprum {
  background: #b87333;
  border-right-color: #48d1cc;
}
.user_info .coin_gold {
  background: #ffd700;
  border-right-color: #c0c0c0;
}
.user_info .money_gold {
  border-color: #ffd700;
}
.user_info .money_silver {
  border-color: #c0c0c0;
}
.user_info .money_cuprum {
  border-color: #b87333;
}
