#uLogin{
  display: none;
}
.login_social{
  padding: 10px;
  margin: auto;
  vertical-align: middle;
  cursor: pointer;
}
.user_header{
  display: inline-block;
  padding: 5px!important;
}
.user_avatar{
  display: inline-block;
  height: 50px;
  border: 1px solid rgb(156, 194, 24);
  border-radius:20px 20px 0 0;
  overflow: hidden;
  img{
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.user_nik{
  display: inline-block;
  padding-bottom: 0;
  font-family: 'Ruslan', arial;
  font-size: 16px;
}
.user_bar_wrap{
  font-size: 11px;
  line-height: 11px;
}
.user_bar{
  display: block;
  width: 100px;
  height: 15px;
  color: rgb(255,255,255);
  background: #122b40;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
}
.health_bar{
 border-color: rgb(255, 78, 51);
}
.fa-icon{
  width: 12px;
  line-height: 11px;
  margin-right: 3px;
  margin-top: 2px;
  text-align: center;
}
.fa-heart{
  color: rgb(255, 78, 51);

}
.energy_bar{
  border-color: rgb(156, 194, 24);
}
.fa-bolt{
  color: rgb(156, 194, 24);
}
.money_box{
  font-family: "Comic Sans MS";
  display: block;
  width: 100px;
  height: 15px;
  font-size: 11px;
  //background: rgb();
  line-height: 11px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0px 4px;
}
.coin_icon{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-right-width: 1px;
  border-right-style:  solid;
  margin: 1px 3px;
}
.coin_silver{
  background: rgb(192, 192, 192);
  border-right-color: rgb(72, 209, 204);
}
.coin_cuprum{
  background: rgb(184, 115, 51);
  border-right-color: rgb(72, 209, 204);
}
.coin_gold{
  background: rgb(255, 215, 0);
  border-right-color: rgb(192, 192, 192);
}
.money_gold{
  border-color: rgb(255, 215, 0);
}
.money_silver{
  border-color: rgb(192, 192, 192);
}
.money_cuprum{
  border-color: rgb(184, 115, 51);
}